/* style.css */

/* Set background colour, font and center everything */ 

body {
    font-family: 'Arial', sans-serif;
    background-color: #474343;
    color: #050505; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Home container to center title and content */

.home-container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 80%;
    max-width: 600px;
}

/* Title style */ 
h1 {
    font-size: 36px;
    color: #aa9310; 
}

/*Welcome message */
p {
    font-size: 20px; 
    color: #000000;
}

/* Button style */ 
button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color;
}

button:hover {
    background-color: #ee4d4d;
    
}

