<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Select Date</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body id="date-page-body">

  <div id="date-container">
    <h2>Select a Date</h2>
    <form method="POST" action="{{ url_for('select_date') }}">
      <input type="date" name="order_date" id="calendar-input" required>
      <br><br>
      <input type="submit" value="Continue to Food Selection" id="date-button">
    </form>
  </div>

</body>
</html>
